@import "photon";
@import "native";

html {
  background: var(--bg-window, #1e1e22);
}

ul {
  margin: 0;
  padding: 0;
}

.sidebar {
  background: var(--bg-sidebar, #242428);
  display: flex;
  flex-direction: column;

  .nav-group {
    overflow: auto;
    flex: 1;
  }
}

.main {
  position: relative;
  flex: 1;
}

.nav-group {
  .sortable-placeholder {
    width: 100%;
    height: 26px;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

.Pane.vertical {
  height: 100%;
  display: flex;
  min-width: 0;
}

.fixedDataTableCellLayout_columnResizerContainer {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

@import "./dark-theme.scss";
