.tab-item-btn {
  width: 30px;
  flex: none;
}

.tab-group {
  background: transparent;
}

.nav-group-item:active {
  background-color: transparent !important;
}

.nav-group-item.sortable-ghost {
  opacity: 0;
}

.nav-group-item.active:active {
  background-color: var(--accent) !important;
}

.window {
  background: var(--bg-window) !important;
}

.toolbar-footer {
  button {
    border: none;
    background: transparent;
    font-size: 14px;
    opacity: 0.8;
  }
}

button:focus {
  outline: 0;
}
